<template name="home">
<div class="jumbotron">
	<h2>
		Regarder ce que vous voulez! Avec qui vous voulez!
	</h2>
	<p>
		Une envie de voir un film, un match mais vous n'avez pas d'abonnement aux chaines payantes? 
	</p>

	<p>
		Voir un bon film ou un bon match tout seul chez vous alors que le canapp est désert? 
	</p>
	<p>
		Voici l'app qui vous mets en relation! 
	</p>
	
	

</div>
<div class="container">
    
	    <div id="owl-example" class="carousel">
	    <div class="carousel first-row">
            {{# each emissions}}
                <div class="col-md-3 home-pict"><a href="/emission/{{emId}}"><img src="{{emPhoto}}"><span>{{emNom}}</span>
                	</a></div>
             {{/each}}
	    </div>
     
    </div>
</div>
</template>