<template name="footer">
	<footer>
		<div id="footer">
			<div class="left">
				<i class="fa fa-facebook"></i>
			</div>
			<div class="right">
				<ul class="contact">

					<li><a href="#" class="icon fa fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa fa-instagram"><span class="label">Instagram</span></a>
						</li>
					<li><a href="#" class="icon fa fa-facebook"><span class="label">Facebook</span></a>
						</li>
					<li><a href="#" class="icon fa fa-dribbble"><span class="label">Dribbble</span></a>
						</li>
					<li><a href="#" class="icon fa fa-pinterest"><span class="label">Pinterest</span></a>
						</li>
					<li><a href="#" class="icon fa fa-envelope"><span class="label">Email</span></a></li>
				</ul>
			</div>
		</div>
	</footer>
</template>
