.navbar-brand{
background: url("../images/logo_canap.svg") no-repeat;
position: relative;
top: 10px;
left: 10px;
}
.collapse.navbar-collapse{
	margin-left: 10px;
}
 @font-face {
    font-family: Lumberjack;
    src: url('/font/Lumberjack.otf');
}
.nav a,
.navbar-form span{
	font-family: Lumberjack;
}
.navbar-form{
	float: right !important;
}